.mobile-header {
  padding: 10px 0;
}

.mobile-header-top {
  border-bottom: 1px solid #efefef;
}

.mobile-header-top .header-top-settings {
  float: none;
}

.mobile-logo {
  max-width: 230px;
  width: 100%;
}

.mobile-main-header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.mobile-main-header .mobile-menu-toggler {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-main-header .mobile-menu-toggler .mini-cart-wrap {
  line-height: 1;
}

.mobile-main-header .mobile-menu-toggler .mini-cart-wrap a {
  font-size: 25px;
  line-height: 1;
  color: #222222;
  position: relative;
}

.mobile-main-header .mobile-menu-toggler .mini-cart-wrap a:hover {
  color: #dab84a;
}

.mobile-main-header .mobile-menu-toggler .mini-cart-wrap .notification {
  font-size: 13px;
  color: #fff;
  width: 16px;
  height: 16px;
  line-height: 16px;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
  right: -4px;
  top: -4px;
  position: absolute;
  background-color: #dab84a;
}

.mobile-main-header .mobile-menu-toggler .mobile-menu-btn {
  margin-left: 25px;
}

.mobile-main-header .mobile-menu-toggler .mobile-menu-btn span {
  width: 25px;
  height: 2px;
  display: block;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #222222;
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left;
}

.mobile-main-header .mobile-menu-toggler .mobile-menu-btn span:nth-child(2), .mobile-main-header .mobile-menu-toggler .mobile-menu-btn span:nth-child(3) {
  margin-top: 5px;
}

.mobile-main-header .mobile-menu-toggler .mobile-menu-btn:hover span {
  background-color: #dab84a;
}

.mobile-main-header .mobile-menu-toggler .mobile-menu-btn:hover span:nth-child(1), .mobile-main-header .mobile-menu-toggler .mobile-menu-btn:hover span:nth-child(3) {
  width: 20px;
}

.mobile-navigation {
  overflow: hidden;
  max-height: 250px;
}

.mobile-navigation nav {
  height: 100%;
}

.mobile-menu {
  margin-top: 30px;
  height: 100%;
  overflow: auto;
  padding-right: 30px;
  margin-right: -30px;
}

@media only screen and (max-width: 479.98px) {
  .mobile-menu {
    margin-top: 15px;
  }
}

.mobile-menu li > a {
  font-size: 15px;
  color: #222222;
  text-transform: capitalize;
  line-height: 18px;
  position: relative;
  display: inline-block;
  padding: 10px 0;
}

.mobile-menu li > a:hover {
  color: #f00;
}

.mobile-menu li ul li {
  border: none;
}

.mobile-menu li ul li a {
  font-size: 14px;
  text-transform: capitalize;
  padding: 10px 0 8px;
}

.mobile-menu li.menu-item-has-children {
  display: block;
  position: relative;
}

.mobile-menu li.menu-item-has-children .dropdown {
  padding-left: 15px;
}

.mobile-menu li.menu-item-has-children .menu-expand {
  line-height: 50;
  top: -5px;
  left: 95%;
  width: 30px;
  position: absolute;
  height: 50px;
  text-align: center;
  cursor: pointer;
}

.mobile-menu li.menu-item-has-children .menu-expand i {
  display: block;
  position: relative;
  width: 10px;
  margin-top: 25px;
  border-bottom: 1px solid #222222;
  -webkit-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.mobile-menu li.menu-item-has-children .menu-expand i:before {
  top: 0;
  width: 100%;
  content: "";
  display: block;
  position: absolute;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border-bottom: 1px solid #222222;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.mobile-menu li.menu-item-has-children.active > .menu-expand i:before {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}


.offcanvas-widget-area {
  margin-top: 10px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 479.98px) {
  .offcanvas-widget-area {
    padding-bottom: 0;
  }
}

.off-canvas-contact-widget li {
	list-style: none;
    color: #022469;
    font-size: 15px;
    margin-bottom: 5px;
    display: inline-flex;
}

.off-canvas-contact-widget li i {
  width: 20px;
}

.off-canvas-contact-widget li a {
  color: #555555;
}

.off-canvas-contact-widget li a:hover {
  color: #00266d;
}

.off-canvas-social-widget {
  margin-top: 20px;
}

.off-canvas-social-widget a {
  color: #555555;
  font-size: 18px;
  display: inline-block;
  margin-right: 15px;
}

.off-canvas-social-widget a:hover {
  color: #dab84a;
}


.off-canvas-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  z-index: 9999;
}

.off-canvas-wrapper.open {
  opacity: 1;
  visibility: visible;
}

.off-canvas-wrapper.open .off-canvas-inner-content {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.off-canvas-wrapper .off-canvas-overlay {
  background-color: rgba(0, 0, 0, 0.4);
  content: '';
 
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

.off-canvas-wrapper .off-canvas-inner-content {
  background-color: #fff;
  width: 300px;
  padding: 20px;
  height: 100%;
  position: relative;
  -webkit-transform: translateX(calc(-100% - 50px));
      -ms-transform: translateX(calc(-100% - 50px));
          transform: translateX(calc(-100% - 50px));
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

@media only screen and (max-width: 479.98px) {
  .off-canvas-wrapper .off-canvas-inner-content {
    width: 260px;
    padding: 15px;
  }
}

.off-canvas-wrapper .btn-close-off-canvas {
  top: 0;
  left: 100%;
  width: 30px;
  height: 30px;
  font-size: 20px;
  color: #fff;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #002868;
}

.off-canvas-wrapper .btn-close-off-canvas i {
  font-size: 22px;
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  display: block;
  line-height: 31px;
}

.off-canvas-wrapper .btn-close-off-canvas:hover i {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.off-canvas-wrapper .off-canvas-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: auto;
  height: 100%;
}

.search-box-offcanvas form {
  position: relative;
}

.search-box-offcanvas form input {
  color: #666;
  font-size: 13px;
  width: 100%;
  height: 40px;
  border: none;
  padding: 0 40px 0 10px;
  background-color: #f2f2f2;
}

.search-box-offcanvas form .search-btn {
	top: 0;
    right: 0;
    width: 40px;
    height: 39px;
    line-height: 35px;
    font-size: 20px;
    color: #203e7a;
    position: absolute;
}

.search-box-offcanvas form .search-btn:hover {
  color: #dab84a;
}

@media only screen and (min-width: 375px) and (max-width: 667px) {
.elkevent-mobile-nav .logo p i{
	float: right;
   
    font-size: 21px;
    padding-right: 23px;
}
}

.mobile-settings {
  padding-top: 15px;
  margin-top: 15px;
  border-top: 1px solid #efefef;
}

.mobile-settings li {
  margin-bottom: 5px;
}

.mobile-settings .nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle {
  font-size: 14px;
  color: #555555;
  cursor: pointer;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle i {
  font-size: 12px;
  padding-left: 5px;
  vertical-align: middle;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle:hover {
  color: #203e7a;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-toggle:after {
  display: none;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-menu {
  padding: 0;
  border-color: #efefef;
  -webkit-transform: translateY(30px);
      -ms-transform: translateY(30px);
          transform: translateY(30px);
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-menu.show {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
}

.mobile-settings .nav .mobile-top-dropdown .dropdown-menu .dropdown-item {
  font-size: 13px;
  color: #555555;
  padding: 6px 15px;
}


@media only screen and (min-width: 360px) and (max-width: 640px) {
	
  .elkevent-mobile-nav .logo {
    display: flex !important;
    
    }
    .elkevent-mobile-nav .logo a {
        margin-right: 50%;
    }
  
  }

  @media only screen and (min-width: 375px) and (max-width: 667px),(min-width: 360px) and (max-width: 640px)
{
	.ask-expert .section-third-desc {
		padding-bottom:20px;
	}
	.ask-expert .ask-expert-img img {
		padding-left:10px;
	}
	.swch-hold {
		display: grid;
	}
	.home-sec-1 h2 {
		font-size: 30px;
	}
	.home-sec-1 p {
		font-size: 16px;
	}
	.section-title-testo {
		padding-top:20px;
	}
	.consulting-blog .single-blog-post .blog-post-content p{
		font-size:14px;
	}
	.consulting-blog .single-blog-post .blog-post-content h3 a{
		font-size:19px;
	}
}


@media only screen and (min-width: 360px) and (max-width: 640px) {
	
  .elkevent-mobile-nav .logo {
    display: flex !important;
    
    }
    .elkevent-mobile-nav .logo a {
        margin-right: 50%;
    }
    
    .tab_content .tabs_item .accordion .accordion-item .accordion-title .schedule-info h3 {
    font-size: 16px !important;
      margin-bottom: 5px;
      margin-right: 0px;
      text-align: left;
      
    }
  
  }


  @media only screen and (min-width: 375px) and (max-width: 667px){

    .ask-expert .section-third-desc {
      padding-bottom:20px;
    }
    .ask-expert .ask-expert-img img {
      padding-left:10px;
    }
    .swch-hold {
      display: grid;
    }
    .home-sec-1 h2 {
      font-size: 30px;
    }
    .home-sec-1 p {
      font-size: 16px;
    }
    .section-title-testo {
      padding-top:20px;
    }
    .consulting-blog .single-blog-post .blog-post-content p{
      font-size:14px;
    }
    .consulting-blog .single-blog-post .blog-post-content h3 a{
      font-size:19px;
    }
    
    .why-choose-content p span {
      font-size:14px;
    }
    .about-image {
      margin-top: -82px;
    }
    .form-popup {
      right:0px;
    }
    .Our-ceo h2 {
      font-size:24px;
    }
    .why-ora-sec5 h2 {
      font-size:26px;
    }
    .single-speakers-box {
      padding:0px;
    }
    .featured-career-sec2 .featured-career{
      margin-bottom:20px;
    }
      
    .career-sec4 .career-content {
        margin: 0px 10px;
    }
    .career-sec4 .featured-career-sec4 {
      margin-left:2px;
    }
    .featured-career-sec6 {
      margin-right:0px;
    }
    .offset-lg-0 {
      margin-left:60px;
    }
    .leave-your-message .stay-connected {
      margin-bottom:30px;
    }
  }

  @media only screen and (min-width: 375px) and (max-width: 667px){

    .ask-expert .section-third-desc {
      padding-bottom:20px;
    }
    .ask-expert .ask-expert-img img {
      padding-left:10px;
    }
    .swch-hold {
      display: grid;
    }
    .home-sec-1 h2 {
      font-size: 30px;
    }
    .home-sec-1 p {
      font-size: 16px;
    }
    .section-title-testo {
      padding-top:20px;
    }
    .consulting-blog .single-blog-post .blog-post-content p{
      font-size:14px;
    }
    .consulting-blog .single-blog-post .blog-post-content h3 a{
      font-size:19px;
    }
    
    .why-choose-content p span {
      font-size:14px;
    }
    .about-image {
      margin-top: -82px;
    }
    .form-popup {
      right:0px;
    }
    .Our-ceo h2 {
      font-size:24px;
    }
    .why-ora-sec5 h2 {
      font-size:26px;
    }
    .single-speakers-box {
      padding:0px;
    }
    .featured-career-sec2 .featured-career{
      margin-bottom:20px;
    }
      
    .career-sec4 .career-content {
        margin: 0px 10px;
    }
    .career-sec4 .featured-career-sec4 {
      margin-left:2px;
    }
    .featured-career-sec6 {
      margin-right:0px;
    }
    .offset-lg-0 {
      margin-left:60px;
    }
    .leave-your-message .stay-connected {
      margin-bottom:30px;
    }
    


    .tab_content .tabs_item .accordion .accordion-item .accordion-title .schedule-info h3 {
    font-size: 16px !important;
      margin-bottom: 5px;
      margin-right: 0px;
      text-align: left;
    
    }
    .explore-cart {
      margin-bottom:20px;
    }
    #id{
          margin-bottom: -53px;
    }
    .case-studies-img {
      text-align:center;
    }
    .case-studies-details h2{
    padding-left: 20px;
      font-size: 30px;
    }
  }

